ISSUER_URI=https://login.microsoftonline.com/1e723c98-044a-4dc2-bbdf-ebef1ff41d29/v2.0
JWK_SET_URI=https://login.microsoftonline.com/1e723c98-044a-4dc2-bbdf-ebef1ff41d29/discovery/v2.0/keys
API_AUDIENCE=295f45be-4dfb-4387-9164-48ed7788f505
OT_SERVICE_URL=http://127.0.0.1:8081
AUDIT_SERVICE_URL=http://127.0.0.1:8082
ALLOWED_ORIGINS=<FRONTEND_PRODUCTION_URL>
